.w-full
  - if @event.errors.present?
    %ul
      - @vote.errors.full_messages.each do |message|
        %li= message
  = form_with model: @vote, url: event_votes_path(@event), class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' do |f|
    - @event.teams.each do |team|
      .mb-6
        %p.text-3xl= team.name
        - @event.evaluation_items.each do |evaluation_item|
          %p= evaluation_item.name
          = f.fields_for :scores, @vote.scores.build  do |score|
            = score.hidden_field :team_id, value: team.id
            = score.hidden_field :evaluation_item_id, value: evaluation_item.id
            = score.number_field :point, min: 0

    = f.submit "投票", class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none cursor-pointer dark:focus:ring-blue-800'
